body {
    background-color: yellow;
    }


header {
    background-color: dodgerblue;
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
    justify-content: center;
    
    
}

#titre{
    width: 700px;
    height: 35px;
    text-align: center;
    font-size: large;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
}

#Simpson_family{
    width: 700px;
    height: 245px
}

#center{
    display: flex;
    flex-direction: row;
}

main{
    width: 700px;
    height: 335px;
    background-color: white;
    display: flex;
    flex-wrap: row wrap;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
}

nav{
    width:125px;
    height: 110px;
    background-color: dodgerblue;
    text-align: center;
}

aside{
    background-color: dodgerblue;
    width: 150px;
    height: 250px;
}

#Matt_Groening{
    width: 100px;
    height: 125px;
}

footer{
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
}